/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1
   Special Effects style sheet
   Author: Nikola Andelkovic  
   Date:   11/6/25

   Filename:         dweffects.css
   Supporting Files: 

*/

body {
  box-shadow:
    10px 0px 15px rgb(211, 211, 211, 0.5),
    -10px 0px 15px rgb(211, 211, 211, 0.5);
}

header nav ul li {
  background-color: rgb(224, 238, 238);
  border-radius: 10px;
  box-shadow:
    inset 3px 3px 2px white,
    inset 5px 5px 5px rgb(147, 207, 207);
}
