/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1

   dessertWeb Print Styles
   Author: Nikola Andelkovic  
   Date:   11/6/25

   Filename:         dwprint.css
   Supporting Files: 

*/
@page {
  size: 8.5in 11in;
  margin: 0.5in;
}

@media print {
  header,
  #left,
  #right,
  nav ul,
  aside,
  footer,
  h2 hgroup,
  article p:last-of-type {
    display: none;
  }
  .no-print {
    display: none;
  }
  body > section:last-of-type h2:last-of-type {
    break-before: always;
  }
}

h1 {
  font-size: 200%;
  margin-bottom: 0.2in;
}
h2 {
  font-size: 150%;
  margin-top: 0.5in;
}

li {
  line-height: 1.5em;
}

ol {
  margin-left: 0.5in;
  list-style-type: decimal;
}
